<li data-message="<%= message.id %>">
  <div class="message_container">
    <div class="message<% if current_user.id === message.user_id %> own_message<% end %>"  id="message-<%= message.id %>">
      <div class="message_sender">
        <%= message.user.nickname.capitalize %>
      </div>
      <div class="message_info">
        <%= message.created_at.strftime("le %d.%m.%y") %>
      </div>
      <div class="message_body">
        <%= message.content %>
      </div>
    </div>
  </div>
</li>
<%# <div class="notification-actions col-12 col-lg-6">
  <a href="#">Modifier <i class="fas fa-pencil-alt"></i></a>
  <a href="#">Suprimer <i class="far fa-trash-alt"></i></a>
</div> %>
