<% if @chatroom %>
  <div class="container-chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>Bonjour <%= current_user.nickname %>!</h1>
        <h2><%= @chatroom.recipient.gardens[0].name %> de <%= @chatroom.recipient.nickname.capitalize %>. </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8" data-chatroom-subscription-target="messages">
        <ul class="chatlist">
          <% @chatroom.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </ul>
      </div>
      <div class="message_content col-12 col-lg-6 d-flex justify-content-center">
        <%= simple_form_for [@chatroom, @message],
        remote: true,
        html: {data: {action: "ajax:success->chatroom-subscription#resetForm"} } do |f|
        %>
        <%= f.input :content,
          label: false, placeholder: "Votre message à #{@chatroom.recipient.nickname.capitalize} ", wrapper_html: {class: "flex-grow-1 text_area"} %>
          <%= f.submit "Envoyer", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
<%# <div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Merci!</strong> <%= @chatroom.recipient.nickname.capitalize %>
  <%# va te repondre rapidement.</span> %>
  <%# <a data-bs-dismiss="alert" aria-label="Close"> %>
  <%# <i class="fas fa-times"></i> %>
  <%# </a> %>
<%# </div> %>
  <div class="link_return">
    <%= link_to "Return", :back, class: "link_return"%>
    <%= link_to "Les Jardins", gardens_path, class: "link_return" %>
  </div>
<% else %>
  <div class="row justify-content-center">
    <div class="col-12">
      Il n'y a pas de chat.
    </div>
  </div>
<% end %>
