<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>

<h1>#<%= @chatroom.id %></h1>
<h2>Your chat with <%= @chatroom.recipient.first_name %>  </h2>
<div class="messages" data-chatroom-subscription-target="messages">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
<div>
  <%= simple_form_for [@chatroom, @message],
  remote: true,
  html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex" } do |f|
  %>
  <%= f.input :content,
    label: false, placeholder: "Message ##{@chatroom.id}", wrapper_html: {class: "flex-grow-1"} %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
