
<div class = "col-3 garden-card">
  <%= link_to garden_path(garden) do %>
    <%= render 'shared/favorite_like_button', garden:garden %>
    <%= cl_image_tag garden.photo.key, crop: :fill, class: "garden-img" %>
    <div class="card-garden-infos">
      <h5 class="card-text" ><strong> <%=garden.name%></strong></h5>
      <p><%=garden.address%></p>
    </div>
  <% end %>
</div>
