
<%= link_to garden_path(garden) do %>

  <div class = "garden-card">
    <%= render 'shared/favorite_like_button', garden:garden %>
    <%= cl_image_tag garden.photo.key, height: 300, width: 400, crop: :fill, class: "garden-img" %>
    <div class="card-garden-infos">
      <h5 id="card-text" ><strong> <%=garden.name%></strong></h5>
      <p><%=garden.address%></p>
    </div>
  </div>
<% end %>
