<nav class="navbar navbar-expand-custom navbar-mainbg ">
        <div class="navbar navbar-expand-sm navbar-light ">



        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "LES JARDINS", gardens_path, class: "nav-link"  %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><i class=""></i>QUI SOMMES-NOUS ?</a>
                </li>

  <%= link_to "/", class: "navbar-brand" do %>
    <image src="https://res.cloudinary.com/drizziyom/image/upload/v1655456736/harvest%20sharing%20logo/logo_harvest_sharing_urpdyn.jpg", class="navbar-logo">
    <% end %>

                <li class="nav-item">
                    <a class="nav-link" href=""><i class=""></i>FAQ - CONTACT</a>
                </li>

                    <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to "SE DECONNECTER", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <image src="https://res.cloudinary.com/drizziyom/image/upload/v1655456736/harvest%20sharing%20logo/logo_harvest_sharing_urpdyn.jpg", class="navbar-logo", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false >


              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "CONNEXION", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
                </li>

            </ul>
        </div>
    </nav>
