<h1></h1>
<p></p>
<%# Les 3 derniers jardins inscrits se trouvent dans @gardens (pages/CONTROLLER)%>
<% @gardens.each do |garden| %>
<div class="garden-card">
  <div class="garden-card-infos">
    <div class= "garden-details">
      <h4> <%=garden.name%> </h4>
      <p><%=garden.address%></p>
      <%= image_tag "jardin1.jpg", size: "100x100" %>
      <p>Fruits/Légumes/Autres: <%# #icon %></p>
    </div>
  </div>
  <div class= "button">
  <div class="garden-card-button-voir">
    <%= link_to "voir !", garden_path(garden) %>

      </div>
</div>
 <% end %>
<h1>PARTAGER LA NATURE C'EST NOTRE DEVISE</h1>


<%# <%= render "shared/garden_card" %>

<h1>LES AVANTAGES DE HARVEST SHARING</h1>

<div class="container">
  <div class="row">

    <div class="col-sm-6 text-start">
      <h2> Pour les autres: </h2>
        <p> Pour permettre à d'autres personnes d'avoir accès à de bons fruits et légumes qui ont poussé le plus naturellement possible près de chez elles.
            Pour démocratiser l'accès à certains produits devenus chers alors qu'ils pourrissent dans les jardins.
            Pour refaire découvrir des saveurs qui se sont perdues.
        </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 text-start">
      <div class="vous">
        <h2> Et pour vous aussi : </h2>
          <p> Pour faire de belles rencontres avec des personnes sensibles aux mêmes valeurs que vous.
            Pour vous permettre de couvrir le coût de vos graines/semences de bonne qualité.
        </p>
     </div>
    </div>
  </div>
</div>
