<div class="container">
<h2>LA NATURE NOUS RASSEMBLE</h2>
<P>Choisir une ville</P> <p>Choissir un produit</p>
<%= form_tag gardens_path, method: :get, id:'search-form' do %>
  <%= text_field_tag :query_product,
    params[:query_product],
    class: "form-control d-flex align-items-center justify-content-center localisation",
    placeholder: "Courgette"%>
  <%= text_field_tag :query_product,
    params[:query_product],
    class: "form-control d-flex align-items-center justify-content-center localisation",
    placeholder: "Marseille" %>
    <%= submit_tag "Search", class: "btn btn-success" %>
<% end %>




  <div class="gardens-and-map">

    <div class="gardens-display">
    <div class="box">
  <% @gardens.each do |garden| %>
    <div class= "garden-card">
      <h5><strong> <%=garden.name%></strong> </h5>
      <div class="details_img">
      <%= image_tag "jardin1.jpg", class:"garden-img", size: "100x100"  %>
        <div class="garden_card_details">
          <p><%=garden.address%></p>
        <%# <p>Légumes/fruits <%# #icon %>
        </div>
      </div>
      <%= link_to "voir", garden_path(garden), class:"card-button-voir" %>
    </div>
<% end %>
</div>


    </div>
    <%# <div class="map-display">
    map display
    </div> %>
  </div>
</div>
