<div class = "container" >
    <div class=" garden-name">
      <h2> <%= @garden.name %> </h2>
    </div>

  <div class ="gardener-grid">
    <div class ="gardner" >
      <%= cl_image_tag @garden.photo.key %>
    </div>

    <div class ="gardener-presentation">
      <div class="name-avatar">
        <div class="gardner-name">
          <h5> <%= @garden.user.nickname %> </h5><p><%= @garden.user.address %></p>
        </div>
        <div class="avatar">
          <% if @garden.user.avatar.attached? %>
            <%= cl_image_tag @garden.user.avatar.key, :aspect_ratio=>"1:1", :border=>"5px_solid_rgb:f4eeee", :gravity=>"auto", :height=>120, :opacity=>100, :radius=>"max", :width=>120, :crop=>"fill" %>
          <% end %>
        </div>
      </div>
        <div class="presentation">
          <div class="presentation-content">
            <p><%= @garden.user.presentation %> </p>
          </div>
        </div>
        <div class="send">
          <%= link_to chatrooms_path(user: @garden.user), method: :post do %>
          <i class="fa fa-envelope"></i>
          <% end %>
        </div>
    </div>

    <div class=" garden-details">

      <% @garden_products.each do |garden_product| %>
        <p><strong><%= garden_product.product.name.capitalize %></strong></p>
        <p id="size-details"><%= garden_product.detail_product%></p>
        <p>Quantité: <%= garden_product.quantity%> Kg </p>
      <% end %>
    </div>

    <div class="caroussel-garden gardener">
      <%= render "shared/caroussel", images_produits: @images_produits, caroussel_class: @caroussel_class %>
    </div>
  </div>

    <div class= "col-12 reviews">
    <br>
      <h5><strong>LES AVIS  </strong></h5>
      <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
      <p> Super rencontre ! Les produits sont plein de saveurs, humm un vrai délice!
      Foncez!</p>
      <br>
    </div>

    <div class="col-12" id= "mapbox-div"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
