<div class = "container" >
  <div><h2><%= @garden.name %> </h2></div>
<div class="garden-gardener">
  <div class="garden">
    <div class = "img-jardin" >
      <%= image_tag "tomate-potager.png", size:"500x150" %>
    </div>

    <div class = "card-product">
      <%= image_tag "tomato.png", size:"50x50" %>
      <h5> Tomate Grappe</h5>
        <div class="card-details">
          <p> Une dizaine de plants de tomates, venez les chercher, elles sont savoureuses!</p>
          <% @garden.garden_products.each do |garden_product| %>
          <h5> <%= garden_product.quantity %>kg.</h5>
          <% end %>
          <p> icons </p>
        </div>
    </div>
  </div>
  <div class = gardener-details>
    <h5><%= @garden.user.nickname %> Nom du jardinier</h5>
    <img class="avatar" alt="avatar" src="" />
    <p> <%= @garden.user.address %></p>
    <p> Bonjour, je suis Amélie, je possède un beau potager 100% bio, je vous propose le surplus de mes récoltes!
    N'hésitez pas à me contacter pour toutes questions, à bientôt!</p>
    <a class="button-contacter" href="#">Contacter</a>
  </div>

<%= link_to "Send a message", chatrooms_path(user: @garden.user), method: :post%>
</div>
  <div class = reviews>
    <h5>Les Avis</h5>
    <P> <%= @garden.user.nickname %></P>
    <P> Un très bel échange avec Amélie, les tomates sont pleines de saveurs, humm un vrai délice!
    Foncez!</P>
    <%= image_tag "5-etoiles.png", class:"etoile-img", size:"100x40" %>
  </div>






  <%= link_to "Send a message", chatrooms_path(user: @garden.user), method: :post %>


</div>
